body{
  background-color:black;
}

.container{
  color:white;
}

input[type=submit] , button{
  cursor: pointer;
  background-color:black;
  border-radius:5px;
  border:1px solid white;
  color:white;
}

a[href]{
  color:#3d76d1;
}

h2{
  border-bottom: 2px solid white;
}

input, textarea{
  position:relative;
  z-index:2;
  background-color:black;
  border:1px solid white;
  color:white;
}

input[type=submit]:hover , button:hover{
  background-color:rgb(80,80,80);
}

input#search{
  border-bottom:1px solid white;
  color:white;
}

#lb-close{
  color:black;
  border-color:black;
}

/*.card button{
  border-color:white;
  color:white;
}*/

/*SCROLLBAR*/
/*
*/
html::-webkit-scrollbar{
    width: 10px;
    height:10px;
  }

html::-webkit-scrollbar-track:vertical{
    background: black;
    border-left:1px solid white;
}
html::-webkit-scrollbar-track:horizontal{
    background: black;
    border-top:1px solid white;
}

html::-webkit-scrollbar-thumb {
    background-image: repeating-linear-gradient(45deg, white 0, white 1px, black 0, black 50%);
    background-size: 10px 10px;
    border:1px solid white;
  }
/*END SCROLLBAR*/
/*
*/