/*LIGHTBOX STUFF*/
/*
*/
#dark-box{
  position:absolute;
  width:100%;
  height:100%;
  background-color:rgba(20,20,20,0.8);
  /*background-color:black;*/
  top:0%;
  left:0%;
  display:none;
  z-index:3;
}

#light-box{
  position:absolute;
  max-width:100%;
  /*background-color:white;*/
  width:240px;
  height:320px;
  transform:translate(-50%,-50%);
  top:50%;
  left:50%;
  /*display:none;*/
  /*border-radius:20px;*/
  /*border:5px solid transparent;*/
  z-index:5;
}
#light-box-content{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:white;
  margin:20px;
  /*border-radius:20px;*/
  /*border:5px solid black;*/
  padding:0.125in;
}

#lb-save{
position:absolute;
right:0;
bottom:0;
}

#lb-close{
position:absolute;
top:0;
right:0;
}
/*END LIGHTBOX STUFF*/
/*
*/

/*popup form*/
/*
*/
#popup-form{
  width:2.5in;
  height:3in;
  box-sizing: border-box;
  color:black;
  background-color:white;
}

#popup-form input[type=submit], #popup-form input[type=text],#popup-form textarea, #popup-form button{
    color:black;
    background-color:white;
    border: 1px solid black;
    box-sizing: border-box;
    width:100%;
  }
/*end popupform*/
/*
*/

/*INPUTS and LABELS*/
/*
*/
input[type=submit] , button{
  cursor: pointer;
  background-color:none;
  background:none;
  border-radius:5px;
  border:1px solid black;
}

input, textarea{position:relative;z-index:2;background-color:white;border:1px solid black;}

input[type=submit]:hover , button:hover{
  background-color:rgb(220,220,220);
}

input[type=radio]{
  cursor:pointer;
  text-align:left;
  float:left;
  border:1px solid black;
}
label{display:inline-block;text-align:left;float:left;}
label.under, label.over{display:block;font-weight:strong;font-size:0.8em;text-align:left;}

form#card-form input[type=text], form#card-form textarea{
  width:2.5in;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*END INPUTS and LABELS*/
/*
*/


/*NAV*/
/*
*/
nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:left;
  display:block;
}

nav.right-side{
  float:right;
  display:inline-block;
  width:auto;
}

.container{float:left;}

/*END NAV*/
/*
*/

/*BORDERS*/
/*
*/
.border-1px-black{
  border:1px solid black;
}
/*END BORDERS*/
/*
*/

/*GENERAL*/
/*
*/
body{
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

h2{
  font-weight: 400;
  border-bottom:1px solid black;
  text-align:center;
}

.container{
  display:block;
  width:90%;
  margin:auto;
  position:absolute;
  left:50%;  
  transform:translate(-50%,0);
  text-align:center;
}
.full-container{
  display:block;
  width:90%;
  margin:auto;
  position:absolute;
  text-align:center;
  height:90%;
}
/*END GENERAL*/
/*
*/


/*MISC*/
/*
*/
.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*END MISC*/
/*
*/

/*screen and low resolution*/
/*
*/
@media screen and (max-width: 800px){
  .container{
    width:100%;
  }

  input[type=text], input[type=submit], button{
    width:100%;
  }
}

a{
  text-decoration: none;
}