.card-back{
  margin:10px;
  display:block;
  position: relative;
  height:450px;
  width: 300px;
  /*background-color: blue;*/
  padding:10px;
  float:left;

  /*border-radius: 15px;*/

  text-align:center;

  background-size:contain;
  background-position:center center;
  background-repeat: no-repeat;
  background-image:url("../img/gw2back.png");
  border:2px solid white;
  outline:10px solid white;
}

.card-body{
  margin:10px;
  display:block;
  position: relative;
  height:450px;
  width: 300px;
  /*background-color: blue;*/
  padding:10px;
  float:left;

  /*border-radius: 15px;*/
  border:2px solid green;

  outline:10px solid black;

  text-align:center;
  background-position:right center;
  background-repeat: no-repeat;
  background-image:url("../img/twintrees.jpg");
}

.card-tl{
  position:relative;
  display:inline-flex;
  top:0;
  float:left;

  /*margin: 0 auto;*/
  /*background-color:red;*/
  /*width:100%;*/
}
.card-tm{
  position:relative;
  display:inline-flex;
  margin:0 auto;
}
.card-tr{
  position:relative;
  display:inline-flex;
  top:0;
  float:right;
}

.card-pic-wrapper{
  position:relative;
  display:block;
  /*border:2px solid black;*/
  /*background-color: yellow;*/
  height:45%;
  margin:5%;
}

.card-pic{
  position:relative;
  display:block;
  /*border:2px solid black;*/
  /*background-color: yellow;*/
  /*height:45%;*/
  /*margin:5%;*/
  height: 100%;
  width:100%;
  overflow:hidden;
  /*background-image:url("../img/ranger.jpg");
  background-position:center center;
  background-repeat: no-repeat;
  background-size:99%;*/
}

.card-pic img{
  /*position:absolute;*/
  height:100%;
  width:auto;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.card-pic-caption{
  position:absolute;
  bottom:-5%;
  left: 0;right: 0;
  /*background-color:rgba(100,100,100,0.8);*/
  background:linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,0.8),rgba(255,255,255,0.8), rgba(0,0,0,0));
  border-top:;
}

.card-pic-caption:before, .card-pic-caption:after {
    content: "";
    height: 1px;
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);

display: block;
}

.card-cm{}

.card-bl{
  position:absolute;
  /*display:table;*/
  /*height:100%;*/
  display:inline-flex;
  bottom:10px;
  left:10px;
}
.card-bm{
  /*UGLY*/
  /*FIX LATER*/
  position:absolute;
  display:block;
  /*display:inline-flex;*/
  /*background-color:green;*/
  bottom:10px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.card-br{
  position:absolute;
  display:inline-flex;
  bottom:10px;
  right:10px;
}

.text-border{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.text-border-white{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.text-white{
  color:white;
}
.text-black{
  color:black;
}

.icon-32{
  height:32px;
  width:auto;
}

.icon-64{
  height:64px;
  width:auto;
}

.icon-text-64{
  /*left:50%;*/
  /*text-align:center;*/
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  /*width:100%*/
  /*height:100%;*/
  line-height: 64px;
}

.table-cell{
  display:table;
}

.lh-32{
}